@import './fonts.scss';
@import './utils.scss';
@import '~bootstrap/scss/bootstrap.scss';

html {
    font-size: 1vw;
}

#root {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5em;

    display: grid;

    grid:
        'head head head head head' auto
        '.... main main side ....' 1fr
        'foot foot foot foot foot' 20px
        / 5% 3fr 3fr 3fr 5%;

    grid-row-gap: 30px;
    grid-column-gap: 30px;

    aside {
        grid-area: side;
    }

    main {
        grid-area: main;
    }

    header {
        grid-area: head;
    }
}