@import '~/styles/lib/_fonts.scss';
@import '~/styles/lib/_utils.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~/styles/lib/_screens.scss';
@import '~/styles/lib/_ranking.scss';

html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5em;
    height: 100%;

    display: grid;

    grid-row-gap: 30px;
    grid-column-gap: 30px;

    aside {
        grid-area: side;
    }

    main {
        grid-area: main;
    }

    header {
        grid-area: head;
    }

    footer {
        grid-area: foot;
        align-items: center;
    }
}

@include respond(desktop) {
    #root {
        grid:
        'head head head head head' auto
        '.... main main side ....' 1fr
        'foot foot foot foot foot' 30px
        / 5% 3fr 3fr 3fr 5%;
    }
}

@include respond(mobile) {
    #root {
        grid:
        'head head head head head' auto
        'main main main main main' 1fr
        'foot foot foot foot foot' 30px
        / 5% 3fr 3fr 3fr 5%;
    }
}