@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

@import './reset.scss';
@import './utilities';

html, body {
    height: 100%;
    overflow-anchor: none;
    overflow-wrap: break-word;
    font-size: 0.9em;
}

body:not(.dark-theme) {
    @include set-theme(def);
    background-color: $white;
    color: $black;
}

body.dark-theme {
    @include set-theme(dark);
    background-color: $white;
    color: $black;
}

body {
    font-family: 'Roboto Mono', monospace;
}

@import '@/styles/components/button.scss';
@import '@/styles/components/tags.scss';
@import '@/styles/components/editor.scss';
@import '@/styles/components/markdown.scss';
@import '@/styles/components/user.scss';
@import '@/styles/components/task.scss';
@import '@/styles/components/pagination.scss';
@import '@/styles/components/countdown.scss';
@import '@/styles/components/sidebar.scss';
@import '@/styles/components/progressbar.scss';
@import '~vue-progressbar-component/src/scss/progressbar';
@import '~vue-select/dist/vue-select.css';
