@import '../screens.scss';

@include respond(mobile) {
    #sidebar {
        display: none;
    }
}

#user-info {
    display: grid;
    grid: 'main main' auto
        'bullets avatar' 1fr
        / 1.2fr 1fr;
}

#main {
    grid-area: main;
}

#bullets {
    font-size: 1.2vw;
    grid-area: bullets;
}

#avatar {
    grid-area: avatar;
}
