@import '~/styles/lib/_screens.scss';

@include respond(mobile) {
    #sidebar {
        display: none;
    }
}

#user-info {
    display: grid;
    grid: 'sidebar-main sidebar-main' auto
        'sidebar-bullets sidebar-avatar' 1fr
        / 1.2fr 1fr;
}

#sidebar-main {
    grid-area: sidebar-main;
}

#sidebar-bullets {
    font-size: 1.2vw;
    grid-area: sidebar-bullets;
}

#sidebar-avatar {
    grid-area: sidebar-avatar;

    display: grid;
    align-items: center;
    justify-content: left;

    > img {
        object-fit: contain;
    }
}
