@import '~/styles/lib/_screens.scss';

@include respond(mobile) {
    #sidebar {
        display: none;
    }
}

#sidebar {
    min-width: 350px;
}

#user-info {
    display: grid;
    grid: 'sidebar-bullets sidebar-avatar' 1fr
        / 1.3fr 1fr;
}

#sidebar-main {
    grid-area: sidebar-main;
}

#sidebar-bullets {
    grid-area: sidebar-bullets;
}

#sidebar-avatar {
    grid-area: sidebar-avatar;

    display: grid;
    align-items: center;
    justify-content: left;

    > img {
        width: 100%;
        object-fit: contain;
    }
}
