.center_aligned {
    display: flex;
    justify-content: center;
}

.center_vertical_aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini_text {
    font-size: 0.9rem !important;
}

.big_text {
    font-size: 1.3rem !important;
}

.huge_text {
    font-size: 2rem !important;
}

.inline {
    display: inline;
}

input[type='tags'] {
    vertical-align: middle;
    border: none;
}

input[type='tags']:focus {
    outline: none;
}

a.disabled {
    pointer-events: none;
}

a.standart {
    text-decoration: none;
    color: #000;
}

.markdown {
    word-wrap: break-word;
}

.break_word {
    word-wrap: break-word;
}

.markdown img {
    max-width: 100%;
}

.tagit-new input {
    padding: 0.1em 0.1em !important;
}
