.tasks-table {
    display: grid;
    grid: 'head' auto
          'body' 1fr
          / 100%;
}

.tasks-table-head {
    grid-area: head;

    display: grid;

    background-color: #d0d8e5;

    padding-top: 10px;
    padding-bottom: 10px;

    grid-template-columns: 1fr 9fr 1fr 4fr 2fr;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    > span.ta-l {
        padding-left: 5px;
    }
}

.tasks-table-body {
    grid-area: body;
}

.tasks-table-item {
    display: grid;

    grid-template-columns: 1fr 9fr 1fr 4fr 2fr;

    > span {
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 1px solid #d0d8e5;
        border-bottom: 1px solid #d0d8e5;

        display: grid;

        min-width: 0;

        align-items: center;
    }

    > span:last-child {
        border-right: 1px solid #d0d8e5;
    }

    > span.ta-l {
        padding-left: 5px;
    }
}

.tasks-table-item:last-child {
    > span:first-child {
        border-bottom-left-radius: 5px;
    }

    > span:last-child {
        border-bottom-right-radius: 5px;
    }
}