$green: #26de81;
$red: #fc5c65;
$dark: #4b6584;
$light: #f8f9fa;
$black: #000000;
$white: #ffffff;
$darklight: #85878a;
$bluelight: #45aaf2;
$reddanger: #eb3b5a;
$greenlight: #89ffc4;
$bluedark: #3867d6;
$bluebtn: #007bff;
$gray: #d3d3d3;
$graytags: #6c757d;
