.vc {
    display: flex;
    align-items: center;
}

.ff {
    margin-top: 1em;
    width: 100%;
}

.wb-a {
    word-break: break-all;
}

.jc-c {
    justify-content: center;
}

.jc-l {
    justify-content: left;
}

.ai-c {
    align-items: center;
}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.fb-0 {
    flex-basis: 0;
}

.fg-1 {
    flex-grow: 1;
}

.fg-2 {
    flex-grow: 2;
}

.fg-3 {
    flex-grow: 3;
}

.fg-4 {
    flex-grow: 4;
}

.fg-5 {
    flex-grow: 5;
}

.fg-6 {
    flex-grow: 6;
}

.fg-7 {
    flex-grow: 7;
}

.fg-8 {
    flex-grow: 8;
}

.fg-9 {
    flex-grow: 9;
}

.fg-10 {
    flex-grow: 10;
}

.fg-11 {
    flex-grow: 11;
}

.fg-12 {
    flex-grow: 12;
}

.fg-13 {
    flex-grow: 13;
}

.fg-14 {
    flex-grow: 14;
}

.fg-15 {
    flex-grow: 15;
}

.fg-16 {
    flex-grow: 16;
}

.fg-17 {
    flex-grow: 17;
}

.fg-18 {
    flex-grow: 18;
}

.fg-19 {
    flex-grow: 19;
}

.fg-20 {
    flex-grow: 20;
}

.fg-21 {
    flex-grow: 21;
}

.fg-22 {
    flex-grow: 22;
}

.fg-23 {
    flex-grow: 23;
}

.fg-24 {
    flex-grow: 24;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-4 {
    margin-top: 4em;
}

.mt-5 {
    margin-top: 5em;
}

.link {
    color: blue;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}