@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

@import './reset.scss';
@import './utilities';

html, body {
    height: 100%;
    overflow-anchor: none;
    word-break: break-all;
}

body {
    font-family: 'Roboto Mono', monospace;
}

@import '@/styles/components/button.scss';
@import '@/styles/components/user.scss';
@import '@/styles/components/task.scss';
@import '@/styles/components/pagination.scss';
@import '@/styles/components/countdown.scss';
@import '@/styles/components/sidebar.scss';
@import '@/styles/components/progressbar.scss';
@import '~vue-progressbar-component/src/scss/progressbar';
@import '~vue-select/dist/vue-select.css';
